
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* shared style */


.orange{
    color: rgba(255, 144, 14, 1);
}

main > section{
    margin-top: 130px;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
     background-color: #FF900E;
     color: white;
     font-size: 1.2rem;
     border: none;
     border-radius: 10px;
     padding: 25px 20px 25px 20px;
     cursor: pointer;
     font-weight: 600;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.disply-flex{
    display: flex;
}

.dark-3{
    color: rgba(114, 114, 114, 1);
}
.dark-2{
    color: rgba(66, 66, 66, 1);
}

/* header style */

.brand{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: rgba(66, 66, 66, 1);
}

.nav-bar{
    justify-content: space-between;
    align-items: center;
}

.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}

/* banner style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
}
.banner-img{
    width: 100%;
}
/* team style */
.team-container{
    margin-left: 80px;
    max-width: 530px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
 .teams{
    align-items: center;
 }
 .team-title{
    font-weight: 600;
    font-size: 2.8rem;
    
 }
 .team-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
 }

/* small device responsibe layout */
@media screen and (max-width:576px) {
    .nav-bar, .nav-links, .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-container{
        margin-left: 20px;
    }
    
}
/* medium ddevice responsibe */
@media screen and (min-width:577px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .team-container{
        margin-left: 50px auto;
    }
}
